/* styles.css - client-side code for the bad password API */

:root {
  --background: rgb(46, 23, 61);
  --background-dk: rgb(33, 16, 44);
  --background-lt: rgb(125, 85, 152);
  --button-hover: rgb(124, 226, 192);
  --button: rgb(116, 219, 185);
  --input: rgb(223, 95, 213);
  --shadow: rgb(174, 51, 164);
  --text: rgb(255, 255, 255);
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--text);
  margin: 0;
}

a,
a:link,
a:visited {
  color: var(--button);
  text-decoration: none;
  padding-bottom: 2px;
}

a:hover {
  text-decoration: underline;
}

path {
  stroke: var(--input);
  text-decoration: none;
}

h1 {
  font-family: "Honk", system-ui;
  font-size: 3rem;
  margin-top: 6rem;
}

h2 {
  font-size: 1.3rem;
}

@media (min-width: 576px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 6rem;
  }
}

input,
button {
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem 0.7rem;
  margin: 1rem 0.4rem;
  border-radius: 0.4rem;
}

input {
  background-color: var(--input);
}

button {
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--button);
  box-shadow: 0 6px 0 0 var(--shadow);
  transform: translateY(-4px);
}

button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

button:active {
  background-color: var(--button-hover);
  box-shadow: 0 3px var(--shadow);
  transform: translateY(0px);
}

/* order for the checkboxes */
.grid-container {
  text-align: left;
  /* Grid styles */
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

/* .custom-checkbox https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.custom-checkbox {
  /*   display: inline-block; */
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 20px;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--input);
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input~.checkmark {
  background-color: var(--shadow);
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked~.checkmark {
  background-color: var(--button);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 12px;
  border: solid var(--background);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.custom-checkbox input:checked~.checkmark:after {
  display: block;
}

.desc {
  color: var(--background-lt);
}

#info,
#disclaimer {
  color: var(--background-lt);
  min-height: 1.5rem;
}

/********** DISPLAYING CODE **********/

.well {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.7rem;
  background-color: var(--background-dk);
  color: var(--input);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05);
  text-align: left;
  border-radius: 0.4rem;
}

code {
  font-family: "Roboto Mono", monospace;
  border: none;
  margin: 0.4rem;
}



.custom-tooltip {
  --bs-tooltip-bg: var(--button-hover);
  --bs-tooltip-padding-x: 1rem;
  --bs-tooltip-padding-y: .7rem;
  --bs-tooltip-color: black;
  --bs-tooltip-max-width: 400px;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-font-size: 1rem;
  --bs-tooltip-border-radius: 0.3rem;
  --bs-tooltip-arrow-height: 1rem;
  --bs-tooltip-arrow-width: 1rem;
}